<h2>Création d'un article</h2>
<div class="p-5 w-75">
<div *ngIf="response$ | async as res">
  {{ res | json }}
</div>
<div *ngIf="error" class="alert alert-danger">
  Une erreur c'est  produite
</div>
  <form [formGroup]="articleForm" (ngSubmit)="submit()">

    <div class="form-group mb-3">
      <label for="articleTitle" class="form-label">Example label</label>
      <input
        type="text"
        formControlName="title"
        class="form-control"
        id="articleTitle"
        placeholder="Titre"
        required
        >
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
          Le titre est requis
        </div>
    </div>
    <div class="form-group mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
      <textarea class="form-control" formControlName="content" id="exampleFormControlTextarea1"
        rows="3" required></textarea>
        <div *ngIf="content.errors && content?.errors['required'] !== null && (content.dirty || content.touched)" class="alert alert-danger">
          Le contenu est obligatoire
        </div>
      <div *ngIf="content.errors && content?.errors['minlenght'] !== null && (content.dirty || content.touched)" class="alert alert-danger">
        Minimum 4 caractères
      </div>
    </div>

    <div class="">
      <button [disabled]="articleForm.pristine || !this.articleForm.valid"  class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>

</div>
