<p>
  <mat-toolbar color="primary">

    <span> <a [routerLink]="['']">Home</a></span>

    <button mat-button>
      <span> <a [routerLink]="['experiences']">Expériences</a></span>
    </button>

    <button mat-button>
      <span> <a [routerLink]="['experiences']">Réalisations</a></span>
    </button>

    <button mat-button>
      <span> <a [routerLink]="['admin/article-new']">Admin</a></span>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
